@font-face{
    font-family: Gotham-Light;
    src: url('../static/gotham-light.ttf') format('truetype');
}

@font-face{
    font-family: OpenSans;
    src: url('../static/opensans.ttf') format('truetype');
}

@font-face{
    font-family: OpenSans-Bold;
    src: url('../static/opensans-bold.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../static/background.png");
	background-repeat: repeat-y;
	background-color: #FFFFFF;
	font-size: 62.5%;
	font-family: OpenSans, sans-serif;
	color: #292F33;
}

a:link {color: #66757F; text-decoration:none;}      
a:visited {color: #66757F;}      
a:hover {color: #111111;}  
a:active {color: #66757F;}
a img {border: none; }

h1 { 
	font-size: 32px;
	line-height: 32px;
	font-family: Gotham-Light, sans-serif;
	color: #FFFFFF;
}

h2 { 
	font-size: 18px;
	line-height: 36px;
	font-family: OpenSans-Bold, sans-serif;
}

h3 { 
	font-size: 16px;
	line-height: 24px;
	font-family: OpenSans-Bold, sans-serif;
}

label, p, h4 { 
	font-size: 12px; 
	text-align: justify;
	line-height: 22px;
	font-family: OpenSans, sans-serif;
}

li { 
	font-size: 12px; 
	text-align: left;
	margin-left: 10px;
	line-height: 22px;
}

.clear { clear: both; }

#header {
	color: white;
	background: #55ACEE;
	padding: 15px 0 15px 15px;
}

#content {
	padding: 15px 30px 0 0;
}
#main-content {
	margin-left: 275px;
	max-width: 615px;
}

#sidebar {
	width: 245px;
	float: left;
	padding: 0 0 0 15px;
}
#sidebar ul {
	list-style: inside;
}

input.button{
	margin-right: 5px;
	padding: 6px 6px 6px 6px;
	border: 2px;
	border-color: #292F33;
  	font-family: OpenSans-Bold;
  	color: #FFFFFF;
  	background: #55ACEE;
  	text-decoration: none;
}

input.button:hover {
  	background: #66757F;
}

input.underlined{
	border:0;
   	border-bottom:solid 1px #8899A6;
   	outline:none;
}

button {
	margin-right: 5px;
	padding: 6px 6px 6px 6px;
	border: 2px;
	border-color: #292F33;
  	font-family: OpenSans-Bold;
  	color: #FFFFFF;
  	background: #55ACEE;
  	text-decoration: none;
}

button:hover {
  	background: #66757F;
}