<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>CATS - About the project</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}"/>
</head>

<body>

	<div id="header">
		<h1><img src="{{ url_for('static', filename = 'logo.png') }}"></img>CATS: about the project</h1>
	</div>
	
	<div style="background-color:#FFFFFF; height:1px;">
		
	</div>
	
	<div id="content">
		<div id="sidebar">
			<label>Navigate on this page:</label></br>
			<label><a href="about">About this project</a></label>
			<ul>
				<li>Purpose of the project</li>
				<li>Project members</li>
			</ul>
			</br>
			<label>Browse other pages:</label></br>
			<label><a href="collection">Tweet collection dashboard</a></label></br>
			<label><a href="analysis">Tweet analysis dashboard</a></label></br>
		</div>
		
		<div id="main-content">
		    <h2>Purpose of the project</h2>
		    <p>CATS (Collection and Analysis of Tweets made Simple) is an open source web interface developed by researchers from the universities of Lyon and Bucharest, and its purpose is to enable everyone to generate a corpus of tweets with specific demands (keywords, geolocation, language \textit{etc}), even people without any programing background. Not only does CATS allow people to collect tweets, it also enables one to analyze them thanks to various tools developed in the field of machine learning (event detection, named-entities recognition, topic modeling, word clouds visualization, etc...). CATS relies on a robust implementation that can scale up to massive data streams.</p>
			</br>
		    <h2>Project members</h2>
			<ul>
				<li>Ciprian-Octavian Truică (University Politehnica of Bucharest, Faculty of Automatic Control and Computers, Department of Computer Science)</li>
				<li>Adrien Guille (University of Lyon 2, ERIC Lab, Data Mining and Decision Team)</li>
				<li>Michaël Gauthier (University of Lyon 2, Faculty of Languages, Center for Research in Terminology and Translation)</li>
			</ul>
		</div>
		
		<div class="clear"></div>
	</div>

</body>

</html>
