<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>CATS - Tweet analysis dashboard</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}"/>
</head>

<body>

	<div id="header">
		<h1><img src="{{ url_for('static', filename = 'logo.png') }}"></img>CATS: tweet analysis dashboard</h1>
	</div>
	
	<div style="background-color:#FFFFFF; height:1px;">
		
	</div>
	
	<div id="content">
		<div id="sidebar">
			<label>Navigate on this page:</label><br/>
			<label><a href="analysis">Tweet analysis dashboard</a></label>
			<ul>
				<li>Corpus filtering
					<ul>
						<li><a href="#filter-date">By date</a></li>
						<li><a href="#filter-keyword">By keyword</a></li>
						<li><a href="#filter-gender">By gender</a></li>
						<li><a href="#filter-age">By age</a></li>
					</ul>	
				</li>
				<li>Corpus browsing
					<ul>
						<li><a href="#vocabulary">Vocabulary</a></li>
						<li><a href="#tweets">Tweets</a></li>
					</ul>	
				</li>
				<li>Corpus mining
					<ul>
						<li><a href="#ner">Named-entities recognition</a>
						<li><a href="#tm">Topic modeling
							<ul>
								<li><a href="#lda">LDA</a></li>
								<li><a href="#hlda">Hierarchical LDA</a></li>
							</ul>
						</li>
						<li><a href="#edt">Event detection & tracking
							<ul>
								<li><a href="#mabed">MABED</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<br/>
			<label>Browse other pages:</label><br/>
			<label><a href="collection">Tweet collection dashboard</a></label><br/>
			<label><a href="about">About this project</a></label><br/>
		</div>
		
		<div id="main-content">
		    
		    <h2>Corpus filtering</h2>
    
		    <label id="filter-date" style="width: 20%;">By date (starting and ending date (YYYY-MM-DD) separated by a space, example: "2015-04-06 2015-04-13"): </label><br/>
			<form action="{{ url_for('analysis_dashboard_page2') }}" method="POST">
				<input type="text" name="date" class="underlined" style="width:615px;" value="{{ dates }}"/><br/>
				<label id="filter-keyword">By keyword (a list of terms separated by a space, example: "cat dog"): </label><br/>
				<input type="text" name="keyword" class="underlined" style="width:615px;" value="{{ keywords }}"/><br/>
				<label id="filter-gender">By gender: </label><br/>
				<input type="checkbox" name="gender" value="femme" checked> Female authors <input type="checkbox" name="gender" value="homme" checked> Male authors <br/>
				<label id="filter-gender">By age: </label><br/>
				<input type="checkbox" name="age" value="5-11" checked> [5-11] <input type="checkbox" name="age" value="12-18" checked> [12-18] <input type="checkbox" name="age" value="19-30" checked> [19-30] <input type="checkbox" name="age" value="31-45" checked> [31-45] <input type="checkbox" name="age" value="45-60" checked> [45-60] <input type="checkbox" name="age" value="61-99" checked> [61-99]   <br/>
				<br/>

		    	<input type="submit" value="Filter tweets" class="button"/><input type="checkbox" name="download" value="download"> Download tweets as a CSV file
		    </form>
           	<label>{% if tweetCount %} {{ tweetCount }}{% endif %} tweets</label>

		    <h2>Corpus browsing</h2>
	
		    <h3 id="vocabulary">Vocabulary</h3>
			<p>The vocabulary is the set of all terms weighted by their frequency in tweets. You can either download the entire vocabulary as a CSV file or visualize it as a cloud.</p>
			<br/>
		    <a href="{{ url_for('getTerms') }}"><button>Download the vocabulary</button></a>
		    <a href="{{ url_for('getTermCloud') }}"><button>Visualize the vocabulary</button></a>
		    <br/>
		    <br/>
			
		    <h3 id="tweets">Tweets</h3>
		    <p>This interface allows you to browse through the tweets matching the query below. If the query consists of a single term it matches all the tweets that contain this term, if the query consists of several terms it matches all the tweets in which these terms cooccur. Co-occurence analysis can help understand semantics or dicover linguistic patterns for instance.</p>

		    <label>Terms (separated by a space, example: "cat dog"): </label> 
		    <br/>
		    <form action="{{ url_for('getTweets') }}" method="POST"><input type="text" name="cooccurringwords" class="underlined" style="width: 615px;"/>
				<br/>
				<br/>
		    	<input type="submit" value="Browse tweets" class="button"/>
		    </form>
		    <br/>
			
		    <h2>Corpus mining</h2>
			
		    <h3 id="ner">Named-entity recognition</h3>
	
		    <p>Named-entity recognition consists in automatically locating names of persons, organizations and locations in tweets. You can either download the set of detected named-entities (weighted by their frequency in tweets) as a CSV file or visualize it as a cloud.</p>
    		<br/>
		    <a href="{{ url_for('getNamedEntities') }}"><button>Download the list of named-entities</button></a>
		    <a href="{{ url_for('getNamedEntityCloud') }}"><button>Visualize named-entities</button></a>
		    <br/>
		    <br/>

		    <h3 id="tm">Topic modeling</h3>

		    <p>Topic modeling is a way of automatically discovering hidden themes that pervade a collection of tweets. Topic models can help organizing, understanding, and summarizing large amounts of tweets.</p>

		    <h3 id="lda">LDA</h3>

		    <p>LDA (i.e. Latent Dirichlet Allocation) is a model that represents tweets as mixtures of topics, each topic being associated to a probability distribution over a set of words.</p>

		    <label>Number of topics (example: "10"):</label>
			<br/>
		    <form action="{{ url_for('trainLDA') }}" method="POST"><input type="text" name="k-lda" class="underlined" style="width: 615px;"/>
				<br/>
				<br/>
		    	<input type="submit" value="Run LDA" class="button"/>
		    </form>
			<br/>
		    <a href="{{ url_for('getTopics') }}"><button>Download topics</button></a>
		    <a href="{{ url_for('browseTopics') }}"><button>Browse topics</button></a>
		    <br/>
		    <br/>

		    <h3 id="edt">Event detection & tracking</h3>
    
		    <p>Event detection consists in automatically identifying and describing (temporally and textually speaking) events reported in tweets.</p>
    
		    <h3 id="mabed">MABED</h3>
    
		    <p>MABED (i.e. Mention-Anomaly-Based Event Detection) is a statistical method for automatically detecting events that catch Twitter users' attention.</p>
			
		    <label>Number of events (example: "10" will return the 10 most impactful detected events):</label>
			<br/>
		    <form action="{{ url_for('runMABED') }}" method="POST"><input type="text" name="k-mabed" class="underlined" style="width: 615px;"/>
				<br/>
				<br/>
		    	<input type="submit" value="Run MABED" class="button"/>
		    </form>
			<br/>
		    <a href="{{ url_for('getEvents') }}"><button>Download events</button></a>
		    <a href="{{ url_for('browseEvents') }}"><button>Browse events</button></a>
		    <br/>
		    <br/>
			
		</div>
		
		<div class="clear"></div>
	</div>

</body>

</html>
