<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>CATS - Tweet collection dashboard</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}"/>
</head>

<body>

	<div id="header">
		<h1><img src="{{ url_for('static', filename = 'logo.png') }}"></img>CATS: tweet collection dashboard</h1>
	</div>
	
	<div style="background-color:#FFFFFF; height:1px;">
		
	</div>
	
	<div id="content">
		<div id="sidebar">
			<label>Navigate on this page:</label><br/>
			<label><a href="collection">Tweet collection dashboard</a></label>
			<ul>
				<li>New corpus
					<ul>
						<li><a href="#duration">Duration</a></li>
						<li><a href="#query-keyword">Keyword filter</a></li>
						<li><a href="#query-location">Location filter</a></li>
						<li><a href="#query-user">User filter</a></li>
					</ul>	
				</li>
				<li>Corpus being collected
				</li>
				<li>Available corpora
				</li>
			</ul>
			<br/>
			<label>Browse other pages:</label><br/>
			<label><a href="analysis">Tweet analysis dashboard</a></label><br/>
			<label><a href="about">About this project</a></label><br/>
		</div>
		
		<div id="main-content">
		    
		    <h2>New corpus</h2>
		    <label id="duration">Duration (number of days during which tweets should be collected, example "30"): </label><br/>
			<form action="{{ url_for('collection_dashboard_page2') }}" method="POST">
				<input type="text" name="collection_duration" class="underlined" style="width:615px;"/><br/>
				<label id="filter-date" style="width: 20%;">Keyword filter (phrases of keywords are specified by a comma-separated list; example: "cat,dog"): </label><br/>
				<input type="text" name="keyword_list" class="underlined" style="width:615px;"/><br/>
				<label id="filter-keyword">Location filter (2 longitude,latitude pairs separated by a comma, specifying a bounding box to filter tweets by. Only geo-located Tweets falling within the requested bounding box will be included; example "45.74,4.86,45.76,4.84"): </label><br/>
				<input type="text" name="bounding_box" class="underlined" style="width:615px;"/><br/>
				<label id="filter-keyword">User filter (A comma separated list of user IDs, indicating the users to return statuses for in the stream; example: "43186109,113613920"): </label><br/>
				<input type="text" name="user_list" class="underlined" style="width:615px;"/><br/>
				<br/>
				<input type="radio" name="lang" value="en" checked> English <input type="radio" name="lang" value="fr"> French
				<br/>
				<br/>
				<input type="submit" value="Collect tweets" class="button"/>
		    </form>

		    <h2>Corpus being collected</h2>
			{% if not collecting_corpus %}
				<p>No corpus being currently collected.</p>
			{% else %}
				<p>A corpus is being collected right now. The analysis dashboard will be updated daily at midnight with the latest tweets until the collection is over.</p>
				<p><a href="analysis">Analyze this corpus</a></p>
				<li>Collection started: {{ collecting_corpus[0] }}</li>
				<li>Duration: {{ collecting_corpus[1] }}</li>
				<li>Keyword filter: {{ collecting_corpus[2] }}</li>
				<li>Location filter: {{ collecting_corpus[3] }}</li>
				<li>User filter: {{ collecting_corpus[4] }}</li>
			{% endif %}

		    <h2>Already collected corpus</h2>
			{% if not collected_corpus %}
				<p>No corpus available.</p>
			{% else %}
				<p><a href="analysis">Analyze this corpus</a></p>
				<li>Collection started: {{ collected_corpus[0] }}</li>
				<li>Duration: {{ collected_corpus[1] }}</li>
				<li>Keyword filter: {{ collected_corpus[2] }}</li>
				<li>Location filter: {{ collected_corpus[3] }}</li>
				<li>User filter: {{ collected_corpus[4] }}</li>
			{% endif %}
			</li>
		</div>
		
		<div class="clear"></div>
	</div>

</body>

</html>
