<html>
	<head>
		<title>CATS - Event browser</title>
	    <link rel="stylesheet" type="text/css" href="/static/style.css">
	    <link rel="stylesheet" type="text/css" href="/static/jquery.dataTables.css">
	    <style type="text/css" class="init"></style>
	    <script type="text/javascript" language="javascript" src="/static/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" language="javascript" src="/static/jquery.dataTables.min.js"></script>
	    <script type="text/javascript" class="init">
	        $(document).ready(function() {
		        $('#tweets').DataTable();
	        } );
	    </script>
	</head>
	<body>
		<div id="header">
			<h1><img src="/static/logo.png"></img>CATS: tweet analysis dashboard</h1>
		</div>
		<div style="background-color:#FFFFFF; height:1px;"></div>
		<div id="content">
			<div id="sidebar"></div>
			<div id="main-content">
				<p>{{ filter | safe}}</p>
				<p><a href="/cats/analysis">Go back to the analysis dashboard</a></p>
		        <table id="tweets" class="display" cellspacing="0" width="100%">
		            <thead>
		                <tr>
		                    <th>Event rank</th>
		                    <th>Temporal description</th>
		                    <th>Textual description</th>
		                </tr>
		            </thead>
		            <tbody>
							{{ events |safe }}
					</tbody>
				</table>
			</div>
			<div class="clear"></div>
		</div>
	</body>
</html>