<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
	<head>
		<title>CATS - {{ method_name }} is running</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<script src="/static/jquery-1.11.1.min.js"></script>
		<script src="/static/jquery.awesomeCloud-0.2.js"></script>
	    <link rel="stylesheet" type="text/css" href="/static/style.css">
		<style type="text/css">
			.wordcloud {
			border: 0px;
			height: 5in;
			margin: 0.5in auto;
			padding: 0;
			page-break-after: always;
			page-break-inside: avoid;
			width: 7in;
			}
		</style>
	</head>
	<body>
		<div id="header">
			<h1><img src="/static/logo.png"></img>CATS: tweet analysis dashboard</h1>
		</div>
		<div style="background-color:#FFFFFF; height:1px;"></div>
		<div id="content">
			<div id="sidebar"></div>
			<div id="main-content">
				<p>{{ method_name }} is processing the tweets. Once the results are available, you can access them from the related section of the analysis dashboard.</p>
				<p><a href="/cats/analysis">Go back to the analysis dashboard</a></p>
			<div class="clear"></div>
		</div>
    </body>
</html>