<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
	<head>
		<title>CATS - Vocabulary visualization</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<script src="/static/jquery-1.11.1.min.js"></script>
		<script src="/static/jquery.awesomeCloud-0.2.js"></script>
	    <link rel="stylesheet" type="text/css" href="/static/style.css">
		<style type="text/css">
			.wordcloud {
			border: 0px;
			height: 5in;
			margin: 0.5in auto;
			padding: 0;
			page-break-after: always;
			page-break-inside: avoid;
			width: 7in;
			}
			.word{
			font-family: OpenSans, sans-serif;
			}
		</style>
	</head>
	<body>
		<div id="header">
			<h1><img src="/static/logo.png"></img>CATS: tweet analysis dashboard</h1>
		</div>
		<div style="background-color:#FFFFFF; height:1px;"></div>
		<div id="content">
			<div id="sidebar"></div>
			<div id="main-content">
				<p>{{ filter | safe}}</p>
				<p><a href="/cats/analysis">Go back to the analysis dashboard</a></p>
				<div role="main">
					<div id="wordcloud2" class="wordcloud">
						{% set firstLine = 0 %}
						{% for doc in voc %}
						  {% if firstLine == 0 %}
						    {% set firstLine = 1 %}
						    {% set max = 1/doc['IDF'] %}
						  {% endif %}
							<span data-weight="{{ 50+(50/doc['IDF']/max) }}">{{ doc['word'] }}</span>
					  	{% endfor %}
					</div>
					<script>
						$(document).ready(function(){
							$("#wordcloud2").awesomeCloud({
								"size" : {
									"grid" : 20,
									"factor" : 0.25
								},
								"options" : {
									"color" : "random-dark",
									"rotationRatio" : 0.35
								},
								"font" : "OpenSans, sans-serif",
								"shape" : "circle"
							});
						});
					</script>
				</div>
			</div>
			<div class="clear"></div>
		</div>
    </body>
</html>